body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

nav {
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 20px;
    margin: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    margin: 10px;
    text-align: center;
}

.gallery-item img {
    width: 200px;
    height: auto;
}

video {
    width: 300px; /* Set desired width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure it remains responsive */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}
